name: 'Terraform Destroy'

on: 
  workflow_dispatch: 

jobs:
  destroy:
    runs-on: ubuntu-latest
    env:
      TF_VAR_region: "eu-central-1"
      TF_VAR_env: "dev"

    steps:
      - uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1
      
      - uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Destroy
        run: terraform destroy -auto-approve -no-color
